/*Financial Summaries*/
.financial-summaries {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    padding: 16px;
    height: 120px;
    position: static;
    background-color: rgb(71, 71, 71);
    border-radius: 12px;
    margin-bottom: 12px;
}

.financial-summaries-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
}

.financial-summaries-month,
.financial-summaries-quarter,
.financial-summaries-year-to-date {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 8px;
    height: 55px;

    background-color: rgb(30, 30, 30);
    border-radius: 12px;
}

.financial-summaries-month-title,
.financial-summaries-quarter-title,
.financial-summaries-year-to-date-title {
    font-size: 14px;
    font-weight: 500;
}

.financial-summaries-month-amount,
.financial-summaries-quarter-amount,
.financial-summaries-year-to-date-amount {
    font-size: 16px;
    font-weight: 600;
}

.financial-summaries-title,
.detailed-revenue-source-title,
.producer-advances-quarter-title,
.ytd-summary-title,
.pao-title {
    font-weight: 500;
    font-size: 20px;
}

/*drs, pao, and ytd all need to be changed to flexboxes*/

.producer-advances-quarter,
.detailed-revenue-source,
.producer-advances-owed {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    padding: 16px;
    padding-bottom: 4px;
    position: static;
    background-color: rgb(71, 71, 71);
    border-radius: 12px;
    margin-bottom: 12px;
}

.bottom-half-dashboard {
    display: flex;
    justify-content: start;
    align-items: start;
    position: static;
}

.drs-and-pao {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    vertical-align: top;
    width: 750px;
    padding-bottom: 4px;
    position: static;
    border-radius: 12px;
    margin: 0px;
    margin-bottom: 12px;
    margin-right: 10px;
}

.ytd-summary {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    background-color: rgb(71, 71, 71);
    position: static;
    padding: 16px;
    padding-bottom: 4px;

    border-radius: 12px;
    margin-bottom: 12px;
}

.dts-row,
.pqa-row,
.ytd-row,
.pao-row {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin: 4px;
}

.dts-title-entry,
.pqa-title-entry,
.ytd-title-entry {
    font-weight: 600;
    color: white;
    width: 155px;
}

.dts-info-entry,
.pqa-info-entry,
.ytd-info-entry {
    width: 155px;
    color: rgb(218, 216, 216);
}

.pao-title-entry {
    font-weight: 600;
    color: white;
    width: 125px;
}

.pao-info-entry {
    width: 155ox;
    color: white;
}