.header {
    height: 110px;

    display: flex;
    /*Maybe change to space-between when 
    middle and right sections of header
    are added*/
    justify-content: space-between;
    flex-direction: row;
    position: fixed;
    padding-left: 10px;

    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(51, 51, 51);
    color: white;
    font-family: Arial;

}

.left-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.user-name-picture-container {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 16px;
}

.header-title {
    font-size: 24px;
    font-weight: 525;

}

.profile-pic-placeholder {
    height: 30px;
    border-radius: 15px;
    margin-right: 10px;
}