.financial-summaries {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    padding: 16px;
    height: 120px;
    position: static;
    background-color: rgb(71, 71, 71);
    border-radius: 12px;

}

.financial-summaries-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
}

.financial-summaries-month,
.financial-summaries-quarter,
.financial-summaries-year-to-date {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 8px;
    height: 55px;

    background-color: rgb(30, 30, 30);
    border-radius: 12px;
}

.financial-summaries-month-title,
.financial-summaries-quarter-title,
.financial-summaries-year-to-date-title {
    font-size: 14px;
    font-weight: 500;
}

.financial-summaries-month-amount,
.financial-summaries-quarter-amount,
.financial-summaries-year-to-date-amount {
    font-size: 16px;
    font-weight: 600;
}

.financial-summaries-title {
    font-weight: 500;
    font-size: 20px;
}